{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Liste des checklists</h1>
    </div>
    <p>
        {% if checklists %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Créé par</th>
                    <th>Créé le</th>
                    <th class="text-center">Modifier</th>
                    <th class="text-center">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for row in checklists %}
                    <tr>
                        <td><a href="{{ url_for('show_checklist', checklist_id=row['checklist_id']) }}">{{ row['checklist_name'] }}</a></td>
                        <td>{{ row['audit_crt_user'] }}</td>
                        <td>{{ row['audit_crt_ts'] }}</td>
                        <td class="text-center"><a href="{{ url_for('upd_checklist', checklist_id=row['checklist_id']) }}"
                               class="btn btn-primary btn-xs" data-title="Modifier"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="text-center"><a href="{{ url_for('del_checklist', checklist_id=row['checklist_id']) }}"
                               class="btn btn-danger btn-xs" data-title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas de checklist dans la base de données</em>
            <p>
                Cliquer&nbsp<a href="{{ url_for('add_checklist') }}">ici</a>&nbsp pour en ajouter une.
            </p>
        {% endif %}
    </p>
    <a href="{{ url_for('add_checklist') }}" class="btn btn-default">Ajouter une checklist</a>
    <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
</div>
{% endblock %}
