{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Liste des Snippets Préparés</h1>
    </div>
    <p>
        {% if snippets %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Créé par</th>
                    <th>Créé le</th>
                    <th class="text-center">Modifier</th>
                    <th class="text-center">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for p_snip in snippets %}
                    <tr>
                        <td><a href="{{ url_for('show_prep_snippet', prep_snip_id=p_snip['prep_snip_id']) }}">{{ p_snip['prep_snip_name'] }}</a></td>
                        <td>{{ p_snip['audit_crt_user'] }}</td>
                        <td>{{ p_snip['audit_crt_ts'] }}</td>
                        <td class="text-center"><a href="{{ url_for('upd_prep_snippet', prep_snip_id=p_snip['prep_snip_id']) }}"
                            class="btn btn-primary btn-xs" data-title="Modifier"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="text-center"><a href="{{ url_for('del_prep_snippet', prep_snip_id=p_snip['prep_snip_id']) }}"
                            class="btn btn-danger btn-xs" data-title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas de snippet préparé dans la base de données</em>
            <p>
                Aller dans la&nbsp<a href="{{ url_for('list_snippets_short') }}">liste des snippets</a>&nbsp pour en ajouter un.
            </p>
        {% endif %}
    </p>
    <a href="{{ url_for('list_snippets_short') }}" class="btn btn-default">Aller à la liste pour préparer un snippet</a>
    <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    <p>&nbsp;</p>
</div>
{% endblock %}