{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Rafraîchir un Snippet Préparé</h1>
    </div>

    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <h4>
            <em>Voulez-vous vraiment rafraîchir ce snippet préparé?</em>
            <p>
            <br>
            Snippet Préparé: {{ name }}
            <br>
            <ul>
                <li>Le code modèle sera remplacé.</li>
                <li>La valeur des variables seront réappliquées.</li>
                <li>Le code sera remplacé.</li>
            </ul>
        </h4>
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="Rafraîchir">
        <a href="{{ url_for('list_prep_snippets') }}" class="btn btn-default">Annuler</a>
    </form>
</div>
{% endblock %}

