{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Affiche les Bouts de Code (Snippets)</h1>
    </div>
    <p>
        {% if snippets %}
            {% for snippet in snippets %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ snippet['code_short'] }}</h2>
                    </div>
                    <div class="panel-body">
                        <pre><code>{{ snippet['code_text'] }}</code></pre>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <em>Il n'y a pas de bout de code dans la base de données</em>
            <p>
                Cliquer&nbsp<a href="{{ url_for('add_snippet') }}">ici</a>&nbsp pour en ajouter un.
            </p>
        {% endif %}
    </p>
    <a href="{{ url_for('upd_step', step_id=step_id) }}" class="btn btn-default">Retour</a>
</div>
{% endblock %}