{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Snippet Préparé: {{ p_snip.prep_snip_name }}</h1>
    </div>

    <div class = "panel panel-primary">
        <div class = "panel-heading">
            <h2 class = "panel-title">Description</h2>
        </div>

        <div class = "panel-body">
            {{ p_snip.prep_snip_desc }}
        </div>
    </div>
    <h2>Variables utilisées dans ce snippet</h2>
    {% if p_snip_vars %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Valeur</th>
                </tr>
            </thead>
            <tbody>
                {% for p_snip_var in  p_snip_vars %}
                    <tr>
                        <td>{{ p_snip_var['name'] }}</td>
                        <td>{{ p_snip_var['value'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Aucune variable utilisée dans ce snippet.
    {% endif %}

    <h2>Code:</h2>
    <div class = "panel-body">
        <pre>
            <code>{{ p_snip.prep_snip_code }}</code>
        </pre>
    </div>

    <p>Ajouté par: {{ p_snip.audit_crt_user }} le {{ p_snip.audit_crt_ts }}</p>
    {% if p_snip.upd_user %}
        <p>Modifié par: {{ p_snip.audit_upd_user }} le {{ p_snip.audit_upd_ts }}</p>
    {% endif %}
    <p><a href="{{ url_for('list_prep_snippets') }}" class="btn btn-default">Retour à la liste</a></p>
    <p>&nbsp;</p>
</div>
{% endblock %}