{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label(class="control-label") }}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Modifier une Checklist</h1>
    </div>

    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div class="form-group ">
            {{ render_field(form.checklist_name, class="form-control") }}
        </div>
        <div class="form-group ">
            {{ render_field(form.checklist_desc, class="form-control") }}
        </div>
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="Modifier">
        <a href="{{ url_for('list_checklists') }}" class="btn btn-default">Annuler</a>
    </form>
    <p>
        <h2>Sections</h2>
        {% if sections %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Séquence</th>
                        <th>Nom</th>
                        <th class="text-center">Modifier</th>
                        <th class="text-center">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in sections %}
                        <tr>
                            <td>{{ row['section_seq'] }}</td>
                            <td>{{ row['section_name'] }}</td>
                            <td class="text-center">
                                <a href="{{ url_for('upd_section', section_id=row['section_id']) }}"
                                   class="btn btn-primary btn-xs" data-title="Modifier"> <span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td class="text-center">
                                <a href="{{ url_for('del_section', section_id=row['section_id']) }}"
                                   class="btn btn-danger btn-xs"  data-title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <em>Il n'y a pas de section dans cette liste.</em>
            <p>
                Cliquer&nbsp<a href="{{ url_for('add_section') }}">ici</a>&nbsp pour en ajouter une.
            </p>
        {% endif %}
    </p>
    <a href="{{ url_for('add_section') }}" class="btn btn-default">Ajouter une section</a>
    <a href="{{ url_for('list_checklists') }}" class="btn btn-default">Retour</a>
    <p>
        <h2>Variables</h2>
        {% if cl_vars %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th class="text-center">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cl_v in cl_vars %}
                        <tr>
                            <td>{{ cl_v['var_name'] }}</td>
                            <td>{{ cl_v['var_desc'] }}</td>
                            <td class="text-center">
                                <a href="{{ url_for('del_cl_var', checklist_id=checklist_id, var_id=cl_v['var_id']) }}"
                                   class="btn btn-danger btn-xs"  data-title="Supprimer">
                                   <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <em>Il n'y a pas de variable dans cette liste.</em>
            <p>
                Cliquer&nbsp<a href="{{ url_for('add_cl_var', checklist_id=checklist_id) }}">ici</a>&nbsp pour en ajouter une.
            </p>
        {% endif %}
    </p>
    <a href="{{ url_for('add_cl_var', checklist_id=checklist_id) }}" class="btn btn-default">Ajouter une variable</a>
    <a href="{{ url_for('list_checklists') }}" class="btn btn-default">Retour</a>
</div>
{% endblock %}
